<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JSP_Board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>mySessionFilter</filter-name>
    <filter-class>filter.mySessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>mySessionFilter</filter-name>
    <url-pattern>/boardController/*</url-pattern>
  </filter-mapping>
</web-app>
<!-- http://bloodygale.tistory.com/entry/webxml-%EC%9E%90%EB%8F%99-%EC%83%9D%EC%84%B1 
	web.xml 이클립스 자동 생성 방법. -->